
.numberInput--dragger {
  height: 26px;
  width: 26px;
  /*background: #c66;*/
  cursor: ew-resize;
  display: inline-block;
  line-height: 26px;
  text-align: center;
  font-size:12px;
  color: #a6fcdb;
}
.numberInput__input {
  background: transparent;
  color: #cccccc;
  border: 0;
  padding: 0 4px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid transparent;
}
.numberInput__align-right .numberInput__input {
  text-align: right;
}
input.numberInput__input:focus-visible {
  border: 1px solid #f8f7ca;
}
.numberInput--icon {
  width: 16px;
  height: 16px;
  /*background: url(/_editor/icons.png);*/
  margin: auto;
  margin-top: calc(26px / 2 - 16px / 2);
}